@import "bulma/bulma";
@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-free/css/solid.min.css";
@import "bulma-quickview/dist/css/bulma-quickview";

.navbar-burger.burger.desktop-burger {
  display: block
}

.sidebar-menu {
  li {
    padding: 0.7em;

    a {
      &:link, &:hover, &:visited, &:active {
        text-decoration: none;
        color: $white-ter;
      }
    }
  }
}

div.columns.item-list {
  border-bottom: 1px dashed $white-ter;

  a {
    &:link, &:hover, &:visited, &:active {
      text-decoration: none;
      color: $white-ter;
    }
  }

  i.fas {
    font-size: 50px
  }

  figure {
    margin: auto;
    width: 50px;
    height: 50px;

    img {
      margin: auto;
      height: inherit;
      width: inherit;
    }
  }
}

.button.fab-button {
  position: fixed;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  bottom: 30px;
  right: 30px;
}